

button{
    color: black;
    background-color: lightblue;
    border-style: dotted;
    border-color: darkred;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightgreen;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

